#app {
  display: flex;
  position: relative;
}

#tree {
  flex: 0 1 200px;
  background-color: #8f8; /*XXX*/
}

#toolbar {
  flex: 0 0 auto;
  position: relative;
}
#toolbar > div {
  position: sticky;
  top: 1em;
}

#content {
  flex: 1;
  margin: 1em 0.5em;
}

#toolbar {
  margin: 1em 0.5em;
  z-index: 100;
}

button.icon {
  background-color: #ddd;
  color: black;
  font-size: 20px;
  box-sizing: border-box;
  border: 1px solid #666;
  width: 30px;
  height: 30px;
  margin: 1px;
}

button.icon:hover {
  filter: brightness(75%);
}

button.icon.enabled {
  background-color: #bbb;
  border: 2px solid #444;
}

input.coordinate { width: 3.5em; }
input.force { width: 4em; }
input.damages { width: 3em; }

#toolbar table {
  background-color: #000;
}

#toolbar td {
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  border: 2px solid transparent;
}

#toolbar tr.active-color td {
  border: 2px solid red;
}

.palette-picker {
  position: absolute;
  display: flex;
  border: 1px solid black;
  background-color: #222;
  width: max-content;
}

#toolbar .palette-picker table {
  border-collapse: collapse;
  margin: 2px;
  border: 1px solid black;
}

#toolbar .palette-picker td {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  border: none;
}


table.canvas-grid {
  border-collapse: collapse;
  user-select: none;
}

table.canvas-grid td {
  width: var(--grid-zoom);
  height: var(--grid-zoom);
  box-sizing: border-box;
  padding: 0;
}

/* Use a transparent border to have the same table size */
.tool-grid-off table.canvas-grid { border: 1px solid transparent; }
.tool-grid-tiles table.canvas-grid { border: 1px solid black; }
.tool-grid-pixels table.canvas-grid { border: 2px solid black; }
.tool-grid-pixels table.canvas-grid td { border: 1px solid black; }

.tool-grid-tiles table.canvas-grid.frame-sprite { border-color: green; }
.tool-grid-pixels table.canvas-grid.frame-sprite { border-color: green; }

.tab-tileset table.canvas-grid { border: 2px solid black; }

.tab-illustrations table.canvas-grid { border: 2px solid black; }
.tool-grid-tiles .tab-illustrations table.canvas-grid tr:nth-child(8n) td { border-bottom: 1px solid black; }
.tool-grid-tiles .tab-illustrations table.canvas-grid td:nth-child(8n) { border-right: 1px solid black; }
.tool-grid-pixels .tab-illustrations table.canvas-grid tr:nth-child(8n) td { border-bottom: 2px solid black; }
.tool-grid-pixels .tab-illustrations table.canvas-grid td:nth-child(8n) { border-right: 2px solid black; }

table.canvas-grid.background {
  border: 2px solid black;
  box-sizing: content-box;
}

.frame-sprite {
  position: absolute;
}

.frame-sprite.foreground {
  z-index: 10;
}

.tool-select table.canvas-grid.frame-sprite:hover {
  border: 2px solid red;
  z-index: 30;
  filter: brightness(110%);
}

table.canvas-grid.frame-sprite.selected { border: 2px solid blue; }
.tool-grid-off table.canvas-grid.frame-sprite { border: 1px solid transparent; }

.frame-hurtbox {
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #00ff0080;
  background: #80ff8080;
  z-index: 20;
  pointer-events: none;
}

.frame-hitbox {
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #ff000080;
  background: #ff808080;
  z-index: 25;
  pointer-events: none;
}

.tool-boxes-off .frame-hurtbox { display: none; }
.tool-boxes-off .frame-hitbox { display: none; }

.frame-origin {
  position: absolute;
  background: #f00;
  border-radius: 50%;
  z-index: 30;
}

.tool-grid-off .frame-origin {
  display: none;
}


div.animation-frame {
  display: flex;
  margin-top: 1em;
}

div.frame-canvas {
  flex: 0 0 fit-content;
  position: relative;
  background-color: #88f; /*XXX*/
}



div.frame-info {
  flex: 1 1;
  margin-left: 2em;
  background-color: #f88;
}

div.sprite-info {
  vertical-align: middle;
  background-color: #f88; /*TODO*/
}

.frame-thumbnail {
  border: 1px solid black;
  margin: 0.5em;
}

.bg-default-c0 { background-color: transparent; }
.bg-default-c1 { background-color: #888; }
.bg-default-c2 { background-color: #ccc; }
.bg-default-c3 { background-color: #fff; }

.bg-none { background-color: var(--color-none); }

.bg-p0-c0 { background-color: transparent; }
.bg-p0-c1 { background-color: var(--color-p0-c1); }
.bg-p0-c2 { background-color: var(--color-p0-c2); }
.bg-p0-c3 { background-color: var(--color-p0-c3); }

.bg-p1-c0 { background-color: transparent; }
.bg-p1-c1 { background-color: var(--color-p1-c1); }
.bg-p1-c2 { background-color: var(--color-p1-c2); }
.bg-p1-c3 { background-color: var(--color-p1-c3); }

.bg-p2-c0 { background-color: transparent; }
.bg-p2-c1 { background-color: var(--color-p2-c1); }
.bg-p2-c2 { background-color: var(--color-p2-c2); }
.bg-p2-c3 { background-color: var(--color-p2-c3); }

